<div class="login">
	<div class="container">
		<div class="form">

			<h1>Login</h1>

			<% if !flash.empty? %>
		      <div id="error_explanation">
		        <% flash.keys.each do |k| %> 
		        <p>
		          <%= flash[k] %>
		        </p>
		        <% end %>   
		      </div>
		    <% end %>

			<%= render 'form' %>
		</div>
	</div>
</div>