

<div class="login">
	<div class="container">
		<div class="form">
			<h1>Start Tracking Your Giving</h1>
			<%= render 'form', submit_label: 'Register' %>
			<a href="#" id="other_options">Need Other Options?</a>
		</div>
	</div>
</div>
