<h1>Edit Non Profit</h1>

<div class="non_profit">
	<div class="container">
		<div class="form">

			<%= render 'form' %>

			<%= link_to 'Show', @non_profit %> |
			<%= link_to 'Back', non_profits_path %>
		</div>
	</div>
</div>