/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
  background: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0 0 10px 0;
}

.container {
  padding: 0;
  width: 100%;
}

/* HEADER */

.pull-right {
  position: inline;
  margin: 20px 20px 0 0;
}

.header {
  margin: auto;
  padding: 30px 0 0;
  width: 70%;
}

.header li {
 display: inline;
 margin-right: 30px;
}

.header li:last-child {
  margin-right:0;
}

.header img {
  margin: 0 20px 0 0;
  height: 80px;
}
.header a {
  font-size: 20px;  
  text-decoration: none; 
}

.header a:hover {
  color: #c91717;
  text-decoration: none;   
}

.form {
  text-align:center;
  margin: 0 auto 10px;
  padding: 20px 0 10px 0;
  font-size: 16px;
  width: 300px;
}

.pull-right {
  position: relative;
  margin: 25px 0;
  width: 70%;
}

.pull-right ul {
  float: right;
}

.page-header {
  text-align: left;
}

.container .logo {
  margin: 25px 0;
  float: left;
  width: 30%;
}

.container .logo span {
  font-family: 'Acme', sans-serif;
  font-size: 200%;
  color: red;
}

.container .nav ul {
  margin-bottom: 0px;
}

/*
 * Line chart
 */

 #line_chart path { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}

.placeholder {
  padding: 0 12px;
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

svg.legend {
  padding-left: 10px;
}

g.slice text {
  font-size: 1.5em;
}


.total .value {
  font-size: 2.5em;
}

.total {
  padding-bottom:10px;
}

input[type=text],
input[type=email],
input[type=password] {
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 0px; 
  margin: 6px auto;
  text-indent: 10px;
  width:100%;
  padding:10px;
}

a.btn {
  color: #FFFFFF;
}

.btn-submit {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  background: #c91717;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
}

.show {
  padding:0 100px;
}

@media screen and (max-width: 1024px) {
  .row .pie,
  .row .time {
    display: none;
  }
}

@media screen and (max-width: 512px) {
  .pull-right {
    background-color: #f1f2f2;
    position: relative;
    margin: 0;
    width: 100%;
  }

  .pull-right ul {
    margin: 0;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
  }

  .pull-right ul li {
    display: block;
    float: left;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    width: 50%;
  }

  .pull-right ul li a {
    display: block;
    width: 100%;
  }

  .row .income,
  .row .pie,
  .row .time {
    display: none;
  }

  .table .recur,
  .table .match {
    display: none;
  }
}