/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}

.placeholder {
  padding: 0 12px;
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.links {
  padding-bottom: 15px;
  text-align: right;
}

/*
 * Line chart
 */

 #line_chart path { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

svg.legend {
  padding-left: 10px;
}

g.slice text {
  font-size: 1.5em;
}

/*
 * Date Picker
 */

.input-group .form-control {
  margin: 0;
}

.total .value {
  font-size: 2.5em;
}

.total {
  padding-bottom:10px;
}

/* 
 * Card Design
 */

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding-top:10px;
  width: 25rem;
  float: left;
  margin: 0 10px;
}

.card .image {
  margin: auto;
  line-height: 180px;
}

.card .image img {
  vertical-align: middle;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-title.noimage {
  padding-top: 180px;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-img-top {
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
  margin: auto;
}

.cards {
  display: flex;
}

.clearfix:after {
    content:"";
    display:block;
    clear:both;
}

.card-block {
  text-align: center;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}

.card-link, 
.card-text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.card-link {
  bottom: 10px;
}

.card-text.amount {
  bottom:50px;
}

.card-text.date {
  bottom:25px;
}

.tax .card-text.amount {
  bottom:55px;
}

.tax .card-text.date {
  bottom: 30px;
}

.tax-link {
  padding-left: 50px;
  font-size:1.2em;
}

.card-text.ein {
  bottom:15px;
}

.donation-data {
  height: 65px;
}

.donation-data.tax {
  height: 70px;
}

p.disclaimer {
  text-align: center;
  font-weight: normal;
  font-style: italic;
}

@media (min-width: 576px) {
  .card-deck {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .card-deck .card {
    margin: 9px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 0 0 23%;
        -ms-flex: 0 0 23%;
            flex: 0 0 23%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}