body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  text-align: center;
  color: green;
  font-size: 1.2em;
  padding-top: 10px;
}

.field_with_errors label {
  color: red;
}

.field_with_errors input[type=text] {
  border-color: red;
}

#error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  ul {
    padding-left: 20px;
    padding-top: 8px;
  }

  h2 {
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
    line-height:1.1em;
  }

  ul li {
    text-align: left;
    list-style: square;
  }
}
