<h1>Edit Organization</h1>

<div class="non_profit">
	<div class="container">
		<div class="form">

			<%= render 'form' %>

			<%= link_to 'Show', @organizations %> |
			<%= link_to 'Back', organizations_path %>
		</div>
	</div>
</div>